<div class="scrap-form center">
  <fieldset>
    <h2>Selecione o que será exportado</h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-checkbox active">
            <input type="checkbox" checked>
            <span class="glyphicon glyphicon-ok"></span>
          </label>
        </div>
        <span>Nome</span>
      </div>
      <div class="col-sm-4">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-checkbox active">
            <input type="checkbox" checked>
            <span class="glyphicon glyphicon-ok"></span>
          </label>
        </div>
        <span>Cidade</span>
      </div>
      <div class="col-sm-4">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-checkbox active">
            <input type="checkbox" checked>
            <span class="glyphicon glyphicon-ok"></span>
          </label>
        </div>
        <span>Lesão extra-bucal</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-checkbox active">
            <input type="checkbox" checked>
            <span class="glyphicon glyphicon-ok"></span>
          </label>
        </div>
        <span>Matrícula</span>
      </div>
      <div class="col-sm-4">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-checkbox active">
            <input type="checkbox" checked>
            <span class="glyphicon glyphicon-ok"></span>
          </label>
        </div>
        <span>Estado</span>
      </div>
      <div class="col-sm-4">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-checkbox active">
            <input type="checkbox" checked>
            <span class="glyphicon glyphicon-ok"></span>
          </label>
        </div>
        <span>Lesão intra-bucal</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-checkbox active">
            <input type="checkbox" checked>
            <span class="glyphicon glyphicon-ok"></span>
          </label>
        </div>
        <span>Data Nascimento</span>
      </div>
      <div class="col-sm-4">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-checkbox active">
            <input type="checkbox" checked>
            <span class="glyphicon glyphicon-ok"></span>
          </label>
        </div>
        <span>Fuma?</span>
      </div>
      <div class="col-sm-4">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-checkbox active">
            <input type="checkbox" checked>
            <span class="glyphicon glyphicon-ok"></span>
          </label>
        </div>
        <span>Diagnóstico Clínico</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-checkbox active">
            <input type="checkbox" checked>
            <span class="glyphicon glyphicon-ok"></span>
          </label>
        </div>
        <span>Idade Diag</span>
      </div>
      <div class="col-sm-4">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-checkbox active">
            <input type="checkbox" checked>
            <span class="glyphicon glyphicon-ok"></span>
          </label>
        </div>
        <span>Parou de fumar?</span>
      </div>
      <div class="col-sm-4">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-checkbox active">
            <input type="checkbox" checked>
            <span class="glyphicon glyphicon-ok"></span>
          </label>
        </div>
        <span>Exames compl</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-checkbox active">
            <input type="checkbox" checked>
            <span class="glyphicon glyphicon-ok"></span>
          </label>
        </div>
        <span>Sexo</span>
      </div>
      <div class="col-sm-4">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-checkbox active">
            <input type="checkbox" checked>
            <span class="glyphicon glyphicon-ok"></span>
          </label>
        </div>
        <span>Bebe?</span>
      </div>
      <div class="col-sm-4">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-checkbox active">
            <input type="checkbox" checked>
            <span class="glyphicon glyphicon-ok"></span>
          </label>
        </div>
        <span>Diagn final</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-checkbox active">
            <input type="checkbox" checked>
            <span class="glyphicon glyphicon-ok"></span>
          </label>
        </div>
        <span>Bairro</span>
      </div>
      <div class="col-sm-4">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-checkbox active">
            <input type="checkbox" checked>
            <span class="glyphicon glyphicon-ok"></span>
          </label>
        </div>
        <span>Parou de beber?</span>
      </div>
      <div class="col-sm-4">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-checkbox active">
            <input type="checkbox" checked>
            <span class="glyphicon glyphicon-ok"></span>
          </label>
        </div>
        <span>ALTERARAQUI</span>
      </div>
    </div>
    <br>
    <button class="btn-download center-block" ng-click="continue()">Download</button>    
  </fieldset>
</div>
