<div class="scrap-form center">
  <fieldset>
    <h2>Selecione o que será exportado</h2>
    <div class="row" ng-repeat="row in rows">
      <div class="col-sm-4"  ng-repeat="item in row">
        <div class="btn-group">
          <label class="btn btn-checkbox active" uib-btn-checkbox ng-model="item.selected">
            <span class="glyphicon glyphicon-ok"></span>
          </label>
        </div>
        <span>{{ item.name }}</span>
      </div>
    </div>
    <button class="btn-download center-block" ng-click="continue()">Download</button>
  </fieldset>
</div>
