html, body {
  height: 100%;
}

body {
  font-family: Sans-serif;
  background: #2c3e50;
}

fieldset {
  height: 300px;
}

.header {
  color: white;
  text-align: center;
}

.container-fluid{
  height: 100%;
  width: 100%;
  display: table;
  padding: 0;
}

.row-fluid {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.center {
  float:none;
  margin:0 auto;
}

fieldset {
  border: none;
}

.scrap-form {
  background: #ecf0f1;
  width: 500px;
  border-radius: 5px;
  padding: 35px;
}

.scrap-form h2 {
  margin-top: 0px;
  margin-bottom: 20px;
}

.scrap-form label {
  margin-top: 10px;
  margin-bottom: 0px;
}

.scrap-form input[type="text"], .scrap-form input[type="password"] {
  padding: 10px 15px;
  margin: 10px 0;
  width: 100%;
  display: block;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.scrap-form input[type="text"]:focus, .scrap-form input[type="password"]:focus, .scrap-form button:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #1abc9c;
}

.scrap-form button {
  background: #1abc9c;
  padding: 10px;
  margin-top: 20px;
  font-size: 20px;
  display: block;
  width: 100%;
  border: none;
  color: #fff;
  border-radius: 5px;
}

.scrap-form button:hover {
  background: #1bc6a4;
}

.err-msg {
  color: #ef3434; /* red */
}

.btn span.glyphicon {
	opacity: 0;
}

.btn.active span.glyphicon {
	opacity: 1;
}

.scrap-form .btn-checkbox {
  margin: 0px;
}

.btn-checkbox {
  background-color: #1abc9c;
  color: white;
  padding: 1px 4px;
  height: 22px;
}

.btn-checkbox:hover {
  color: white;
}

.btn-checkbox .glyphicon {
  font-size: 12px;
  top: 0px;
}

.scrap-form .row {
  margin-bottom: 10px;
}

.scrap-form .col-sm-4 {
  padding: 0px;
}

.scrap-form .col-sm-4 > span {
  font-size: 12px;
}

.scrap-form .btn-download {
  width: 120px;
}

.progress-bar {
  background-color: #1abc9c;
}

.finished-downloading-msg {
  margin-top: 50px;
  text-align: center;
}

.open-folder {
  cursor: pointer;
}

.open-folder:hover {
  text-decoration: none;
}
